{% extends 'base.html' %}
{% block content %}    
<div class="container">
  <br/>
  {% if user %}
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/static/images/user_icon.png" alt="Card image cap">
      {% if session['username']==user.username %}
        <div class="card-body">
          <h5 class="card-title">Your profile</h5>
          <p class="card-text">{{user.username}}</p>
        </div>
      {% else %}
        <div class="card-body">
          <h5 class="card-title">{{user.username}}'s profile</h5>
          <p class="card-text">{{user.username}}</p>
        </div>
      {% endif %}      
      <ul class="list-group list-group-flush">
          {% if session['username']==user.username %}
          <li class="list-group-item">{{user.email}}</li>
          {% endif %}
        <li class="list-group-item">Points : {{reputation}}</li>        
      </ul>
      {% if session['username']==user.username %}
        <div class="card-body">
          <a href="/question_post" class="card-link">Post a question..</a>
          <a href="#" class="card-link">My questions</a>        
        </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% endblock %}